<!DOCTYPE html>
<html>
    <head>
        <title>James Riley</title>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <!--<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.1/require.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">  
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">James Riley</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav nav-tabs navbar-right">
                    <li class="tab"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li role="presentation" class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                          Projects <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="/tic_tac"><span class="blue">ticTacTree</span></a></li>
                              <li><a href="/maze"><span class="blue">mazeSolve</span></a></li>
                              <li><a href="/sort"><span class="blue">sortSelect</span></a></li>
                              <li><a href="/idea"><span class="blue">ideaSource</span></a></li>
                          </ul>
                  </li>
            </ul>
            </div>
        </div>
    </nav>
    <div id="everything">
        <div id="content">