<!DOCTYPE html>
<html>
    <head>
        <title>James Riley</title>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    </head>
    <body>
        <p> Some text</p>
            <div id="flipImage" style="heght: 100%">
                <div class="front"><img class="aboutImage" id="nameImage" src="https://i.imgur.com/9sWSdtJ.jpg"></div>
                <div class="back"><img class="aboutImage" id="mathImage" src="https://i.imgur.com/3lCHNCl.png"></div>
            </div>
        <p>jibbeful</p>
        
        
        <script type="text/javascript" src="scripts/about.js"></script>        
    </body>    
</html>