<% include ./partials/header %>
<p>hey fucker</p>
            <div id="flipImage">
                <div class="front"><img class="aboutImage" id="nameImage" src="https://i.imgur.com/9sWSdtJ.jpg"></img></div>
                <div class="back"><img class="aboutImage" id="mathImage" src="https://i.imgur.com/3lCHNCl.png"></img></div>
            </div>
            <p>hey fucker</p>
<!--<div class="container">-->
    <div class="row" id="textRow">
        <div class="col xs-3"></div>
        <div class="col xs-6" id="textCol">
            <p><span class="lead specialties bolden" id="name">James Riley</span></p>
            <p id="aboutText">
                <span class="specialties" id="math">Math && Algorithms </span>
                <span class="glyphicon glyphicon-arrow-right arrow"></span>
                <span class="specialties" id="mech">Mech. Eng</span>
                <span class="glyphicon glyphicon-arrow-right arrow"></span>
                <span class="specialties" id="controls">Controls </span>
                <span class="glyphicon glyphicon-arrow-right arrow"></span>
                <span class="specialties" id="web">Software & Web </span>
            </p>
        </div>
        <div class="col xs-3"></div>
    </div>
    <!--<div class="row" id="photoRow">-->
    <!--    <div class="col xs-3"></div>-->
    <!--    <div class="col xs-6" id="photoCol">-->
            
    <!--    </div>-->
    <!--    <div class="col xs-3"></div>-->
    <!--</div>-->
    <div class="row" id="textRow2">
        <div class="col xs-3"></div>
        <div class="col xs-6" id="textCol">
            <p><span><a id="resume" class="link" href="">Resume</a></span></p>
            <p><span><a id="music" class="link" href="">Some music</a></span></p>
            <p><span><a id="photos" class="link" href="">Some photos</a></span></p>
        </div>
        <div class="col xs-3"></div>
    </div>
<!--</div>-->

<link rel="stylesheet" type="text/css" href="/stylesheets/about.css"></link>
<script type="text/javascript" src="scripts/about.js"></script>
<% include ./partials/footer %>