<% include ./partials/header %>

<!--<div class="container">-->
    <div class="row" id="header_row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="page-header">
                <h1 class="display-3 blue">James Riley</h1>
                <div class="row lead orange">
            <div class="col-sm-1 interest"></div>
            <div class="col-sm-10 interest">Engineer Extraordinaire</div>
            <div class="col-sm-1 interest"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row lead orange interests">
            <div class="col-sm-3 interest">
                <a href="/tic_tac"><img class="homeImage" src="http://i.imgur.com/qFlBUrz.png"></img></a>
                <a href="/tic_tac"><p>ticTacTree</p></a>
            </div>
            <div class="col-sm-3 interest">
                <a href="/sort"><img class="homeImage" src="http://i.imgur.com/3lCHNCl.png"></img></a>
                <a href="/sort"><p>sortSelect</p></a>
            </div>
            <div class="col-sm-3 interest">
                <a href="/maze"><img class="homeImage" src="http://i.imgur.com/3lCHNCl.png"></img></a>
                <a href="/maze"><p>mazeSolve</p></a>
            </div>
            <div class="col-sm-3 interest">
                <a href="/idea"><img class="homeImage" src="http://i.imgur.com/3lCHNCl.png"></img></a>
                <a href="/idea"><p>ideaSource</p></a>
            </div>
    </div>
    <div class="row lead orange">
            <div class="col-sm-4 interest"></div>
            <div class="col-sm-4 interest">
                <a href="/about"><img class="homeImage" src="https://hd.unsplash.com/photo-1452796907770-ad6cd374b12d"></img></a>
                <a href="/about"><p id="aboutMe">aboutMe</p></a>
            </div>
            <div class="col-sm-4 interest"></div>
    </div>
<!--</div>-->
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">  
<% include ./partials/footer %>