<% include ./partials/header  %>

<h1 class="lead centered" id="pageTitle">Pending Application for Patent</h1>

<!--<div class="container">-->
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <h3 class="lead orange centered">"Method and System of Identifying a Concept of a Good or Service for an Unmet Market Potential"</h3>
        </div>
    <div class="col-xs-2"></div>
    </div>
    
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 centered"> 
            <img src="https://i.imgur.com/njy97RP.png">
            <p><a href="https://www.google.com/patents/US20150278833"><span id="patentLink" class="blue">Link to Full Application on Google Patents</span></a></p>  
        </div>
        <div class="col-xs-1"></div>
    </div>
<!--</div>-->



<link rel="stylesheet" type="text/css" href="/stylesheets/idea.css"> 
<% include ./partials/footer %>