<% include ./partials/header %>
<div class="row" id="header_row">
    <div class="col-xs-2 col-sm-4"></div>
    <div class="col-xs-8 col-sm-4">
        <div class="page-header">
            <h1 class="display-3 blue">ticTacTree</h1>
            <p class="lead orange">Try to beat my algorithm</p>
            <p class="lead">
            <button class="btn btn-md" id="threeButton" href="#" role="button">3x3</button>
            <button class="btn btn-md" id="fourButton" href="#" role="button">4x4</button>
            <button class="btn btn-md" id="fiveButton" href="#" role="button">5x5</button>
          </p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-4"></div>
</div>

<p class="lead orange" id="gameResult"> <span>Let's play</span> </p>

<!--3x3 Board-->
<div class="row" id="board_three">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <table id="boardSquares">
            <tr>
                <td class="square" id="three_0_0"></td>
                <td class="square midcol" id="three_0_1"></td>
                <td class="square" id="three_0_2"></td>
            </tr>
            <tr class="midrow">
                <td class="square" id="three_1_0"></td>
                <td class="square midcol" id="three_1_1"></td>
                <td class="square" id="three_1_2"></td>
            </tr>
            <tr>
                <td class="square" id="three_2_0"></td>
                <td class="square midcol" id="three_2_1"></td>
                <td class="square" id="three_2_2"></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-3"></div>
</div>

<!--4x4 BOARD-->
<div class="row" id="board_four">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table id="boardSquares">
            <tr>
                <td class="square" id="four_0_0"></td>
                <td class="square midcol" id="four_0_1"></td>
                <td class="square midcol" id="four_0_2"></td>
                <td class="square square" id="four_0_3"></td>
            </tr>
            <tr class="midrow">
                <td class="square" id="four_1_0"></td>
                <td class="square midcol" id="four_1_1"></td>
                <td class="square midcol" id="four_1_2"></td>
                <td class="square" id="four_1_3"></td>
            </tr>
            <tr class="midrow">
                <td class="square" id="four_2_0"></td>
                <td class="square midcol" id="four_2_1"></td>
                <td class="square midcol" id="four_2_2"></td>
                <td class="square" id="four_2_3"></td>
            </tr>
            <tr>
                <td class="square" id="four_3_0"></td>
                <td class="square midcol" id="four_3_1"></td>
                <td class="square midcol" id="four_3_2"></td>
                <td class="square" id="four_3_3"></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>

<!--5x5 BOARD-->
<div class="row" id="board_five">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <table id="boardSquares">
            <tr>
                <td class="square" id="five_0_0"></td>
                <td class="square midcol" id="five_0_1"></td>
                <td class="square midcol" id="five_0_2"></td>
                <td class="square midcol" id="five_0_3"></td>
                <td class="square" id="five_0_4"></td>
            </tr>
            <tr class="midrow">
                <td class="square" id="five_1_0"></td>
                <td class="square midcol" id="five_1_1"></td>
                <td class="square midcol" id="five_1_2"></td>
                <td class="square midcol" id="five_1_3"></td>
                <td class="square" id="five_1_4"></td>
            </tr>
            <tr class="midrow">
                <td class="square" id="five_2_0"></td>
                <td class="square midcol" id="five_2_1"></td>
                <td class="square midcol" id="five_2_2"></td>
                <td class="square midcol" id="five_2_3"></td>
                <td class="square" id="five_2_4"></td>
            </tr>
            <tr class="midrow">
                <td class="square" id="five_3_0"></td>
                <td class="square midcol" id="five_3_1"></td>
                <td class="square midcol" id="five_3_2"></td>
                <td class="square midcol" id="five_3_3"></td>
                <td class="square" id="five_3_4"></td>
            </tr>
            <tr>
                <td class="square" id="five_4_0"></td>
                <td class="square midcol" id="five_4_1"></td>
                <td class="square midcol" id="five_4_2"></td>
                <td class="square midcol" id="five_4_3"></td>
                <td class="square" id="five_4_4"></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-1"></div>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/tic_tac.css">  
<script type= "text/javascript" src="scripts/tic_tac.js"></script>
<% include ./partials/footer %>