li a {
    text-align: right;
}

.navbar {
    margin-right: -15px;
        
}

.navbar-default .navbar-brand{
    color: #428bca;
    padding-left: 30px;
}

.navbar-default .navbar-nav>li>a{
    color: #428bca;
}

.navbar-default .navbar-nav>li>a:foucs {
    color: #428bca;
}

.btn {
    background: #428bca;
    color: white;
}

.btn:hover {
    color: white;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:focus {
    color: white;
    outline: none;
}

.lead {
    margin-top: 10px;
    margin-bottom: 25px;
}

.dropdown-menu {
    min-width: 100%;
}

#bottomPadding {
    margin-top: 150px;
}

.page-header {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0px;
    border-bottom: none;
}

.blue {
    color: #428bca;
}

.orange {
    color: orange;
}

.display-3 {
    margin-top: 5px;
    margin-bottom: 20px;
}

#content {
    width: 100%;
    height: 100%;
}

