td {
    width: 75px;
    height: 75px;
    text-align: center;
    color: #428bca;
    font-size: x-large;
}

.midcol {
    border-right: 2px #428bca solid;
    border-left: 2px #428bca solid;
}

.midrow {
    border-top: 2px #428bca solid;
    border-bottom: 2px #428bca solid;
}


.buttonBlue {
    background: #428bca;
}

.buttonOrange {
    background: orange;
}


#board_five td {
    width: 65px;
    height: 65px;
}

#board_four td {
    width: 70px;
    height: 70px;
}

#gameResult {
    margin: 0 auto 20px -10px;
    text-align: center;
}

#board_three {
    margin-top: 5%;
    margin-bottom: 20%;
}

#board_four {
    display: none;
    margin-top: 5%;
    margin-bottom: 20%;
}

#board_five {
    display: none;
    margin-top: 4%;
    margin-bottom: 20%;
}

#boardSquares {
    margin: 0 auto;
}
#bottomPadding {
    margin-top: 400px;
}